#countEl{
    color:blue;
}

#titleEl{
    color:red;
}

#plusOne{
    color: black;
}

#result{
    color: black;
}

body{
    background-color: aliceblue;
}
#saveButton{
    background-color: pink;
}
#history{
    color:purple;
}
